<section data-ng-controller="ChecklistsController" data-ng-init="addNewItem()">
    <div class="col-md-12">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group form-group-header">
                    <div class="controls">
                        <input type="text" data-ng-model="checklist.name" id="name" class="form-control" placeholder="Title" required>
                    </div>
                </div>

                <div as-sortable="sortableOptions" ng-model="checklist.items">
                    <div class="form-group form-group-checklist-item as-sortable-item" as-sortable-item ng-repeat="item in checklist.items">
                        <div class="controls">
                            <div class="checklist-item-sortable-handler" as-sortable-item-handle><i class="glyphicon glyphicon-option-vertical"></i><i class="glyphicon glyphicon-option-vertical"></i></div>
                            <input type="text" data-ng-model="item.content" class="form-control" placeholder="Item content" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <a class="btn btn-default btn-add-item" ng-click="addNewItem()"><i class="glyphicon glyphicon-plus"></i> Add item</a>
                    <input class="btn btn-success pull-right" ng-click="create()" value="Create & Share">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>