<section data-ng-controller="ChecklistsController" data-ng-init="findOne()">
	<div class="page-header">
		<h2 data-ng-bind="checklist.name"></h2>
		<label>Share link</label>
		<input type="text" class="input-share-url"readonly="readonly" ng-model="shareUrl"/>
	</div>
	<div class="checklist-items">
		<p ng-repeat="item in checklist.items">
			<label><input type="checkbox" ng-model="item.isCheck" disabled/> {{item.content }}</label>
		</p>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="checklist.created | date:'mediumDate'"></span>
		</em>
	</small>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == checklist.user._id))">
		<a class="btn btn-primary" href="/#!/checklists/{{checklist.key}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
